// Variabili
$green-light: #39a271;
$green-dark: #309867;
$white: #ffffff;
$border-radius: 10px;
$padding-base: 20px;
$max-width: 1140px;

// Corpo principale
body {
  background-color: $green-light;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Breadcrumb */
.breadcrumb-top {
  color: $white;
}

/* Link */
.link-bianco {
  color: $white;
}

/* Contenitore principale */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 15px;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  background-color: $green-light;
}

/* Sezione Header */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: $padding-base;
  border-radius: $border-radius;
  margin-bottom: 20px;
  width: 100%;
}

/* Foto del profilo */
.profile-pic {
  width: 200px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid $green-light;
}

/* Sezione Data di nascita */
.dob-container {
  margin-top: 10px;
}

.icon {
  font-size: 24px;
  margin-right: 8px;
  color: $green-dark;
}

.dob {
  font-size: 16px;
  color: #333;
}

/* Sezione Sommario */
.summary-section {
  color: $white;
  background-color: $green-light !important;
  padding: $padding-base;
  border-radius: $border-radius;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 100px;
}

/* Sezione Esperienza */
.experience-section,
.education-section,
.skills-section,
.languages-section,
.contacts-section {
  background-color: $white;
  padding: $padding-base;
  border-radius: $border-radius;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Personalizzare la card */
.card {
  background-color: $green-light !important;
  color: $white;
}

/* Sezione Certificati */
.certificate-section {
  background-color: $green-light !important;
  color: $white;
  padding: $padding-base;
  border-radius: $border-radius;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Colore dei link personalizzati */
.custom-link {
  color: $green-dark;
  text-decoration: none;
}

/* Effetto hover sui link */
.custom-link:hover {
  color: $green-dark;
  text-decoration: underline;
}
